/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin: 0;
  max-width: 1440px;
  min-width: 320px;
}

/*Ajout du header*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

/* Ajoute un espace entre les éléments Hébergements et Activités */
nav ul li a {
  margin-left: 90px;
  position: relative;
}

/*** Barre en haut de Hébergements et Activités cachée ***/
nav ul li a::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #007bff;
}

/*** Barre en haut de Hébergements et Activités visible au survol ***/
nav ul li a:hover::before {
  width: 100%;
}

/* Ajuste la taille du logo */
#logo {
  width: 70px;
  height: auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a:hover {
  color: #0065fc;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 22px;
}

/**Mise en forme du titre**/
.headline {
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 1em;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/***** Style pour l'ensemble de la barre de recherche****/
.search-bar div {
  display: flex;
  gap: 0;
  align-items: center;
}

/***** Style pour l'icone localisation *****/
.fa-location-dot {
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  border-radius: 16px 0px 0px 16px;
}

/***** Style pour la barre de recherche *****/
.search-input {
  padding: 7.5px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: #0065fc;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.search-input::placeholder {
  color: black;
}

/***** Style pour le bouton rechercher *****/
.search-button {
  padding: 8.5px 20px;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 14px 14px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.search-icon {
  display: none; /* Cachée par défaut */
}

/***** Style pour les filtres *****/
.filtre {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 1.3em;
  flex-wrap: wrap;
}

.filtre span {
  margin-right: 12px;
}

.filtre p {
  border: 2px solid #c7c5c5c2;
  border-radius: 25px 25px 25px 25px;
  padding: 12px;
  cursor: pointer;
  margin-right: 12px;
  max-width: 150px;
}

.filtre p i {
  margin-right: 10px;
  font-size: 18px;
}

.filtre p:hover {
  background-color: #bde0fe;
}

.fa-info {
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

p.card-subtitle {
  font-size: 14px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  width: 240px;
  line-height: 0.7em;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.afficher-plus {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

/****** Populaires *******/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités *******/

.activites .title {
  display: flex;
  padding-left: 30px;
  padding-top: 40px;
  font-size: 22px;
}

.activites-cards {
  display: grid;
  grid: auto-flow / repeat(4, 22%);
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  padding: 0px;
  text-align: start;
}

.activites-cards img {
  height: 370px;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
}

.activites-cards .card-content {
  min-height: 80px;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

/****** Footer *******/

.container-footer {
  display: grid;
  grid: auto-flow / repeat(3, 25%);
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
}

.list-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.list-footer h4 {
  margin-bottom: 0px;
}

.list-footer li {
  margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /**Modification affichage filtres**/
  .filtre span {
    display: block;
    width: 100%;
  }

  .filtre p {
    display: flex;
    flex-wrap: nowrap;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /**Modification affichage bloc activités tablette**/

  .activites {
    width: 100%;
  }
  .activites-cards {
    width: 100%;
  }
  .activites-cards img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  h1 {
    line-height: 1.2em;
  }

  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  /* Effet de soulignement Hébergements et Activités gris et bleu au survol */
  nav ul li a {
    position: relative;
  }

  /* Soulignement gris */
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100vw;
    height: 2px;
    background-color: lightgray;
  }

  /* Soulignement bleu au survol */
  nav ul li a:hover::after {
    background-color: blue;
  }

  /* Suppression de l'effet de surlignement bleu */
  nav ul li a::before {
    content: none;
  }

  /**Modification affichage texte du filtre "rechercher" en loupe**/

  .search-input {
    margin-right: -3%;
    max-width: 60%;
  }

  .search-text {
    display: none;
  }

  .search-icon {
    display: block;
  }

  .search-button {
    box-shadow: 0px 3px 2px #c1c1c1;
    border-radius: 30%;
    min-width: 40px;
    height: 40px;
    padding: 0;
    font-size: 95%;
  }

  /**Modification affichage filtres "Economique, Familial, Romantique, Nos pépites**/
  .filtre span {
    display: block;
    width: 100%;
  }

  .filtre p {
    min-width: 150px;
  }

  /**Modification cards populaires, activités, footer**/
  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
