/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

/*Ajout du header*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

/* Ajoute un espace entre les éléments Hébergements et Activités */
nav ul li {
  margin-left: 90px;
}

/* Ajuste la taille du logo */
#logo {
  width: 70px;
  height: auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a:hover {
  color: #0065fc;
  border-top: medium solid;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 22px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/***** Style pour l'ensemble de la barre de recherche****/
.search-bar div {
  display: flex;
  gap: 0;
  align-items: center;
}

/***** Style pour l'icone localisation *****/
.fa-location-dot {
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  border-radius: 16px 0px 0px 16px;
}

/***** Style pour la barre de recherche *****/
.search-input {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: #0065fc;
  font-weight: bold;
  text-align: center;
}

.search-input::placeholder {
  color: black;
}

/***** Style pour le bouton rechercher *****/
.search-button {
  padding: 10px 20px;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0px 14px 14px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

/***** Style pour les filtres *****/
.filtre {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 1.3em;
}

.filtre span {
  padding: 12px;
  margin-right: 12px;
}

.filtre p {
  border: 2.5px solid #e6e6e6c2;
  border-radius: 25px 25px 25px 25px;
  padding: 12px;
  cursor: pointer;
  margin-right: 12px;
}

.filtre p i {
  margin-right: 10px;
  font-size: 18px;
}

.filtre p:hover {
  background-color: #bde0fe;
}

.fa-circle-info {
  margin-right: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 33px;
}

.hebergements-cards img {
  width: 33%;
  height: 136px;
  border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
